In [1]:
import datetime
import pandas as pd
import numpy as np
import pandas as pd
import os
import csv

In [2]:
def split_weekend_weekday(start_date, end_date):
    weekend_data = []
    weekday_data = []

    date = start_date
    while date <= end_date:
        if date.weekday() < 5:  # 0은 월요일, 4는 금요일을 의미합니다.
            weekday_data.append(date.strftime("%d"))
        else:
            weekend_data.append(date.strftime("%d"))
        date += datetime.timedelta(days=1)

        # 다음달 1일로 이동
        if date.day == 1:
            date = date.replace(day=1, month=date.month + 1)

    return weekend_data, weekday_data

In [3]:
# 시작 날짜와 종료 날짜 설정
start_date = datetime.datetime(2021, 10, 1)
end_date = datetime.datetime(2021, 10, 31)

weekend, weekday = split_weekend_weekday(start_date, end_date)

# 일 수를 1자리 숫자로 변경
weekend = [WE[:0] + str(int(WE[0:])) for WE in weekend]
weekday = [WD[:0] + str(int(WD[0:])) for WD in weekday]


print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

weekend = [2, 3, 9, 10, 16, 17, 23, 24, 30, 31]
weekday = [1, 4, 5, 6, 7, 8, 11, 12, 13, 14, 15, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29]

print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

주말 데이터: ['2', '3', '9', '10', '16', '17', '23', '24', '30', '31']
평일 데이터: ['1', '4', '5', '6', '7', '8', '11', '12', '13', '14', '15', '18', '19', '20', '21', '22', '25', '26', '27', '28', '29']
주말 데이터: [2, 3, 9, 10, 16, 17, 23, 24, 30, 31]
평일 데이터: [1, 4, 5, 6, 7, 8, 11, 12, 13, 14, 15, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29]

## 10월 데이터 주말 평일 분리

In [4]:
df = pd.read_csv('유동인구데이터_21년10월.csv', encoding='cp949', index_col=0)
df

,기준_일,행정동_명,시군구_코드,행정동_코드,서비스인구,주거인구,직장인구,방문인구,총 인구
기준_월,,,,,,,,,
10,1,내외동,48250,4825054000,83037,64124.645950,8575.684366,10336.669680,83037
10,2,내외동,48250,4825054000,82290,63547.781290,8498.537598,10243.681110,82290
10,3,내외동,48250,4825054000,80438,62117.589400,8307.271446,10013.139150,80438
10,4,내외동,48250,4825054000,81906,63251.240430,8458.879821,10195.879750,81906
10,5,내외동,48250,4825054000,82354,63597.204770,8505.147227,10251.648000,82354
...,...,...,...,...,...,...,...,...,...
10,27,회현동,48250,4825052000,10855,5861.818745,1596.570944,3396.610311,10855
10,28,회현동,48250,4825052000,9986,5392.549239,1468.757019,3124.693742,9986
10,29,회현동,48250,4825052000,10469,5653.374522,1539.797440,3275.828038,10469
10,30,회현동,48250,4825052000,10231,5524.851919,1504.792015,3201.356066,10231
10,31,회현동,48250,4825052000,10611,5730.056076,1560.683029,3320.260895,10611

In [5]:
WE_result_list = []
WD_result_list = []

for WK in weekend:
    WE_result = df[df['기준_일'] == WK]
    WE_result_list.append(WE_result)
    
for WD in weekday:
    WD_result = df[df['기준_일'] == WD]
    WD_result_list.append(WD_result)

In [6]:
csv_file = '유동인구21년10월주말.csv'

for i in range(len(weekend)):
    WE_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file), encoding="cp949")

In [7]:
csv_file = '유동인구21년10월평일.csv'

for i in range(len(weekend)):
    WD_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file), encoding="cp949")

## 11월 데이터 주말 평일 분리

In [8]:
start_date = datetime.datetime(2021, 11, 1)
end_date = datetime.datetime(2021, 11, 29)

weekend, weekday = split_weekend_weekday(start_date, end_date)

# 일 수를 1자리 숫자로 변경
weekend = [WE[:0] + str(int(WE[0:])) for WE in weekend]
weekday = [WD[:0] + str(int(WD[0:])) for WD in weekday]


print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

weekend = [6, 7, 13, 14, 20, 21, 27, 28]
weekday = [1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 22, 23, 24, 25, 26, 29, 30]

print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

주말 데이터: ['6', '7', '13', '14', '20', '21', '27', '28']
평일 데이터: ['1', '2', '3', '4', '5', '8', '9', '10', '11', '12', '15', '16', '17', '18', '19', '22', '23', '24', '25', '26', '29']
주말 데이터: [6, 7, 13, 14, 20, 21, 27, 28]
평일 데이터: [1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 22, 23, 24, 25, 26, 29, 30]

In [9]:
df = pd.read_csv('유동인구데이터_21년11월.csv', encoding='cp949', index_col=0)
df

,기준_일,행정동_명,시군구_코드,행정동_코드,서비스인구,주거인구,직장인구,방문인구,총 인구
기준_월,,,,,,,,,
11,1,내외동,48250,4825054000,84351,65139.371730,8711.388321,10500.239950,84351
11,2,내외동,48250,4825054000,83400,64404.969740,8613.173358,10381.856900,83400
11,3,내외동,48250,4825054000,85108,65723.958810,8789.567844,10594.473350,85108
11,4,내외동,48250,4825054000,84865,65536.304040,8764.471907,10564.224050,84865
11,5,내외동,48250,4825054000,86509,66805.869630,8934.256763,10768.873600,86509
...,...,...,...,...,...,...,...,...,...
11,26,회현동,48250,4825052000,10263,5542.132269,1509.498627,3211.369104,10263
11,27,회현동,48250,4825052000,11180,6037.322300,1644.372469,3498.305231,11180
11,28,회현동,48250,4825052000,10150,5481.111033,1492.878404,3176.010563,10150
11,29,회현동,48250,4825052000,9658,5215.425651,1420.514249,3022.060100,9658
11,30,회현동,48250,4825052000,9615,5192.205180,1414.189740,3008.605080,9615

In [10]:
WE_result_list = []
WD_result_list = []

for WK in weekend:
    WE_result = df[df['기준_일'] == WK]
    WE_result_list.append(WE_result)
    
for WD in weekday:
    WD_result = df[df['기준_일'] == WD]
    WD_result_list.append(WD_result)

In [11]:
csv_file = '유동인구21년11월주말.csv'

for i in range(len(weekend)):
    WE_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))

In [12]:
csv_file = '유동인구21년11월평일.csv'

for i in range(len(weekend)):
    WD_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))

## 12월 데이터 주말 평일 분리

In [13]:
start_date = datetime.datetime(2021, 12, 1)
end_date = datetime.datetime(2021, 12, 31)

weekend, weekday = split_weekend_weekday(start_date, end_date)

# 일 수를 1자리 숫자로 변경
weekend = [WE[:0] + str(int(WE[0:])) for WE in weekend]
weekday = [WD[:0] + str(int(WD[0:])) for WD in weekday]


print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

weekend = [4, 5, 11, 12, 18, 19, 25, 26]
weekday = [1, 2, 3, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 27, 28, 29, 30, 31]
print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

주말 데이터: ['4', '5', '11', '12', '18', '19', '25', '26']
평일 데이터: ['1', '2', '3', '6', '7', '8', '9', '10', '13', '14', '15', '16', '17', '20', '21', '22', '23', '24', '27', '28', '29', '30', '31']
주말 데이터: [4, 5, 11, 12, 18, 19, 25, 26]
평일 데이터: [1, 2, 3, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 27, 28, 29, 30, 31]

In [14]:
df = pd.read_csv('유동인구데이터_21년12월.csv', encoding='cp949', index_col=0)
df

,기준_일,행정동_명,시군구_코드,행정동_코드,서비스인구,주거인구,직장인구,방문인구,총 인구
기준_월,,,,,,,,,
12,1,내외동,48250,4825054000,85049,65678.396540,8783.474592,10587.128870,85049
12,2,내외동,48250,4825054000,84243,65055.969610,8700.234571,10486.795810,84243
12,3,내외동,48250,4825054000,85215,65806.588690,8800.618318,10607.793000,85215
12,4,내외동,48250,4825054000,84983,65627.428580,8776.658412,10578.913010,84983
12,5,내외동,48250,4825054000,84863,65534.759560,8764.265356,10563.975090,84863
...,...,...,...,...,...,...,...,...,...
12,27,회현동,48250,4825052000,10865,5867.218854,1598.041760,3399.739386,10865
12,28,회현동,48250,4825052000,10453,5644.734347,1537.444134,3270.821519,10453
12,29,회현동,48250,4825052000,10744,5801.877531,1580.244884,3361.877585,10744
12,30,회현동,48250,4825052000,10413,5623.133910,1531.560869,3258.305221,10413
12,31,회현동,48250,4825052000,10957,5916.899861,1611.573269,3428.526871,10957

In [15]:
WE_result_list = []
WD_result_list = []

for WK in weekend:
    WE_result = df[df['기준_일'] == WK]
    WE_result_list.append(WE_result)
    
for WD in weekday:
    WD_result = df[df['기준_일'] == WD]
    WD_result_list.append(WD_result)

In [16]:
csv_file = '유동인구21년12월주말.csv'

for i in range(len(weekend)):
    WE_result_list[i].to_csv(csv_file, mode='a',header=not os.path.isfile(csv_file))

In [17]:
csv_file = '유동인구21년12월평일.csv'

for i in range(len(weekend)):
    WD_result_list[i].to_csv(csv_file, mode='a',header=not os.path.isfile(csv_file))

## 1월 데이터 주말 평일 분리

In [18]:
start_date = datetime.datetime(2022, 1, 1)
end_date = datetime.datetime(2022, 1, 31)

weekend, weekday = split_weekend_weekday(start_date, end_date)

# 일 수를 1자리 숫자로 변경
weekend = [WE[:0] + str(int(WE[0:])) for WE in weekend]
weekday = [WD[:0] + str(int(WD[0:])) for WD in weekday]


print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

weekend = [1, 2, 8, 9, 15, 16, 22, 23, 29, 30]
weekday = [3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 31]
print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

주말 데이터: ['1', '2', '8', '9', '15', '16', '22', '23', '29', '30']
평일 데이터: ['3', '4', '5', '6', '7', '10', '11', '12', '13', '14', '17', '18', '19', '20', '21', '24', '25', '26', '27', '28', '31']
주말 데이터: [1, 2, 8, 9, 15, 16, 22, 23, 29, 30]
평일 데이터: [3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 31]

In [19]:
df = pd.read_csv('유동인구데이터_22년1월.csv', encoding='cp949', index_col=0)
df

,기준_일,행정동_명,시군구_코드,행정동_코드,서비스인구,주거인구,직장인구,방문인구,총 인구
기준_월,,,,,,,,,
1,1,내외동,48250,4825054000,84929,65585.727520,8771.081537,10572.190940,84929
1,2,내외동,48250,4825054000,85641,66135.563710,8844.613664,10660.822620,85641
1,3,내외동,48250,4825054000,86080,66474.577880,8889.951591,10715.470530,86080
1,4,내외동,48250,4825054000,85626,66123.980080,8843.064532,10658.955380,85626
1,5,내외동,48250,4825054000,85963,66384.225590,8877.868362,10700.906050,85963
...,...,...,...,...,...,...,...,...,...
1,27,회현동,48250,4825052000,11381,6145.864499,1673.935874,3561.199627,11381
1,28,회현동,48250,4825052000,10603,5725.735988,1559.506376,3317.757635,10603
1,29,회현동,48250,4825052000,11563,6244.146490,1700.704728,3618.148782,11563
1,30,회현동,48250,4825052000,11446,6180.965210,1683.496179,3581.538611,11446
1,31,회현동,48250,4825052000,10904,5888.279281,1603.777943,3411.942776,10904

In [20]:
WE_result_list = []
WD_result_list = []

for WK in weekend:
    WE_result = df[df['기준_일'] == WK]
    WE_result_list.append(WE_result)
    
for WD in weekday:
    WD_result = df[df['기준_일'] == WD]
    WD_result_list.append(WD_result)

In [21]:
csv_file = '유동인구22년1월주말.csv'

for i in range(len(weekend)):
    WE_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))

In [22]:
csv_file = '유동인구22년1월평일.csv'

for i in range(len(weekend)):
    WD_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))

## 2월 데이터 주말 평일 분리

In [23]:
start_date = datetime.datetime(2022, 2, 1)
end_date = datetime.datetime(2022, 2, 28)

weekend, weekday = split_weekend_weekday(start_date, end_date)

# 일 수를 1자리 숫자로 변경
weekend = [WE[:0] + str(int(WE[0:])) for WE in weekend]
weekday = [WD[:0] + str(int(WD[0:])) for WD in weekday]


print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

weekend = [5, 6, 12, 13, 19, 20, 26, 27]
weekday = [1, 2, 3, 4, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 28]
print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

주말 데이터: ['5', '6', '12', '13', '19', '20', '26', '27']
평일 데이터: ['1', '2', '3', '4', '7', '8', '9', '10', '11', '14', '15', '16', '17', '18', '21', '22', '23', '24', '25', '28']
주말 데이터: [5, 6, 12, 13, 19, 20, 26, 27]
평일 데이터: [1, 2, 3, 4, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 28]

In [24]:
df = pd.read_csv('유동인구데이터_22년2월.csv', encoding='cp949', index_col=0)
df

,기준_일,행정동_명,시군구_코드,행정동_코드,서비스인구,주거인구,직장인구,방문인구,총 인구
기준_월,,,,,,,,,
2,1,내외동,48250,4825054000,80098,61855.027170,8272.157790,9970.815036,80098
2,2,내외동,48250,4825054000,86361,66691.577840,8918.971995,10750.450170,86361
2,3,내외동,48250,4825054000,86568,66851.431900,8940.350015,10776.218080,86568
2,4,내외동,48250,4825054000,85819,66273.022760,8862.996696,10682.980540,85819
2,5,내외동,48250,4825054000,86321,66660.688170,8914.840977,10745.470860,86321
...,...,...,...,...,...,...,...,...,...
2,24,회현동,48250,4825052000,10526,5684.155146,1548.181092,3293.663762,10526
2,25,회현동,48250,4825052000,10406,5619.353833,1530.531298,3256.114869,10406
2,26,회현동,48250,4825052000,10771,5816.457826,1584.216088,3370.326086,10771
2,27,회현동,48250,4825052000,12399,6695.595635,1823.664959,3879.739406,12399
2,28,회현동,48250,4825052000,10320,5572.912893,1517.882279,3229.204828,10320

In [25]:
WE_result_list = []
WD_result_list = []

for WK in weekend:
    WE_result = df[df['기준_일'] == WK]
    WE_result_list.append(WE_result)
    
for WD in weekday:
    WD_result = df[df['기준_일'] == WD]
    WD_result_list.append(WD_result)

In [26]:
csv_file = '유동인구22년2월주말.csv'

for i in range(len(weekend)):
    WE_result_list[i].to_csv(csv_file, mode='a',  header=not os.path.isfile(csv_file))

In [27]:
csv_file = '유동인구22년2월평일.csv'

for i in range(len(weekend)):
    WD_result_list[i].to_csv(csv_file, mode='a',  header=not os.path.isfile(csv_file))

## 3월 데이터 주말 평일 분리

In [28]:
start_date = datetime.datetime(2022, 3, 1)
end_date = datetime.datetime(2022, 3, 31)

weekend, weekday = split_weekend_weekday(start_date, end_date)

# 일 수를 1자리 숫자로 변경
weekend = [WE[:0] + str(int(WE[0:])) for WE in weekend]
weekday = [WD[:0] + str(int(WD[0:])) for WD in weekday]


print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

weekend = [5, 6, 12, 13, 19, 20, 26, 27]
weekday = [1, 2, 3, 4, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 28, 29, 30, 31]
print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

주말 데이터: ['5', '6', '12', '13', '19', '20', '26', '27']
평일 데이터: ['1', '2', '3', '4', '7', '8', '9', '10', '11', '14', '15', '16', '17', '18', '21', '22', '23', '24', '25', '28', '29', '30', '31']
주말 데이터: [5, 6, 12, 13, 19, 20, 26, 27]
평일 데이터: [1, 2, 3, 4, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 28, 29, 30, 31]

In [29]:
WE_result_list = []
WD_result_list = []

for WK in weekend:
    WE_result = df[df['기준_일'] == WK]
    WE_result_list.append(WE_result)
    
for WD in weekday:
    WD_result = df[df['기준_일'] == WD]
    WD_result_list.append(WD_result)

In [30]:
csv_file = '유동인구22년3월주말.csv'

for i in range(len(weekend)):
    WE_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))

In [31]:
csv_file = '유동인구22년3월평일.csv'

for i in range(len(weekend)):
    WD_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))

## 4월 데이터 주말 평일 분리

In [32]:
start_date = datetime.datetime(2022, 4, 1)
end_date = datetime.datetime(2022, 4, 30)

weekend, weekday = split_weekend_weekday(start_date, end_date)

# 일 수를 1자리 숫자로 변경
weekend = [WE[:0] + str(int(WE[0:])) for WE in weekend]
weekday = [WD[:0] + str(int(WD[0:])) for WD in weekday]


print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

weekend = [2, 3, 9, 10, 16, 17, 23, 24, 30]
weekday = [1, 4, 5, 6, 7, 8, 11, 12, 13, 14, 15, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29]
print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

주말 데이터: ['2', '3', '9', '10', '16', '17', '23', '24', '30']
평일 데이터: ['1', '4', '5', '6', '7', '8', '11', '12', '13', '14', '15', '18', '19', '20', '21', '22', '25', '26', '27', '28', '29']
주말 데이터: [2, 3, 9, 10, 16, 17, 23, 24, 30]
평일 데이터: [1, 4, 5, 6, 7, 8, 11, 12, 13, 14, 15, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29]

In [33]:
WE_result_list = []
WD_result_list = []

for WK in weekend:
    WE_result = df[df['기준_일'] == WK]
    WE_result_list.append(WE_result)
    
for WD in weekday:
    WD_result = df[df['기준_일'] == WD]
    WD_result_list.append(WD_result)

In [34]:
csv_file = '유동인구22년4월주말.csv'

for i in range(len(weekend)):
    WE_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))

In [35]:
csv_file = '유동인구22년4월평일.csv'

for i in range(len(weekend)):
    WD_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))

## 5월 데이터 주말 평일 분리

In [36]:
start_date = datetime.datetime(2022, 5, 1)
end_date = datetime.datetime(2022, 5, 31)

weekend, weekday = split_weekend_weekday(start_date, end_date)

# 일 수를 1자리 숫자로 변경
weekend = [WE[:0] + str(int(WE[0:])) for WE in weekend]
weekday = [WD[:0] + str(int(WD[0:])) for WD in weekday]


print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

weekend = [1, 7, 8, 14, 15, 21, 22, 28, 29]
weekday = [2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 30, 31]
print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

주말 데이터: ['1', '7', '8', '14', '15', '21', '22', '28', '29']
평일 데이터: ['2', '3', '4', '5', '6', '9', '10', '11', '12', '13', '16', '17', '18', '19', '20', '23', '24', '25', '26', '27', '30', '31']
주말 데이터: [1, 7, 8, 14, 15, 21, 22, 28, 29]
평일 데이터: [2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 30, 31]

In [37]:
WE_result_list = []
WD_result_list = []

for WK in weekend:
    WE_result = df[df['기준_일'] == WK]
    WE_result_list.append(WE_result)
    
for WD in weekday:
    WD_result = df[df['기준_일'] == WD]
    WD_result_list.append(WD_result)

In [38]:
csv_file = '유동인구22년5월주말.csv'

for i in range(len(weekend)):
    WE_result_list[i].to_csv(csv_file, mode='a',header=not os.path.isfile(csv_file))

In [39]:
csv_file = '유동인구22년5월평일.csv'

for i in range(len(weekend)):
    WD_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))

## 6월 데이터 주말 평일 분리

In [40]:
start_date = datetime.datetime(2022, 6, 1)
end_date = datetime.datetime(2022, 6, 30)

weekend, weekday = split_weekend_weekday(start_date, end_date)

# 일 수를 1자리 숫자로 변경
weekend = [WE[:0] + str(int(WE[0:])) for WE in weekend]
weekday = [WD[:0] + str(int(WD[0:])) for WD in weekday]


print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

weekend = [4, 5, 11, 12, 18, 19, 25, 26]
weekday = [1, 2, 3, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 27, 28, 29, 30]
print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

주말 데이터: ['4', '5', '11', '12', '18', '19', '25', '26']
평일 데이터: ['1', '2', '3', '6', '7', '8', '9', '10', '13', '14', '15', '16', '17', '20', '21', '22', '23', '24', '27', '28', '29', '30']
주말 데이터: [4, 5, 11, 12, 18, 19, 25, 26]
평일 데이터: [1, 2, 3, 6, 7, 8, 9, 10, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 27, 28, 29, 30]

In [41]:
WE_result_list = []
WD_result_list = []

for WK in weekend:
    WE_result = df[df['기준_일'] == WK]
    WE_result_list.append(WE_result)
    
for WD in weekday:
    WD_result = df[df['기준_일'] == WD]
    WD_result_list.append(WD_result)

In [42]:
csv_file = '유동인구22년6월주말.csv'

for i in range(len(weekend)):
    WE_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))

In [43]:
csv_file = '유동인구22년6월평일.csv'

for i in range(len(weekend)):
    WD_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))

## 7월 데이터 주말 평일 분리

In [44]:
start_date = datetime.datetime(2022, 7, 1)
end_date = datetime.datetime(2022, 7, 31)

weekend, weekday = split_weekend_weekday(start_date, end_date)

# 일 수를 1자리 숫자로 변경
weekend = [WE[:0] + str(int(WE[0:])) for WE in weekend]
weekday = [WD[:0] + str(int(WD[0:])) for WD in weekday]


print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

weekend = [2, 3, 9, 10, 16, 17, 23, 24, 30, 31]
weekday = [1, 4, 5, 6, 7, 8, 11, 12, 13, 14, 15, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29]
print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

주말 데이터: ['2', '3', '9', '10', '16', '17', '23', '24', '30', '31']
평일 데이터: ['1', '4', '5', '6', '7', '8', '11', '12', '13', '14', '15', '18', '19', '20', '21', '22', '25', '26', '27', '28', '29']
주말 데이터: [2, 3, 9, 10, 16, 17, 23, 24, 30, 31]
평일 데이터: [1, 4, 5, 6, 7, 8, 11, 12, 13, 14, 15, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29]

In [45]:
WE_result_list = []
WD_result_list = []

for WK in weekend:
    WE_result = df[df['기준_일'] == WK]
    WE_result_list.append(WE_result)
    
for WD in weekday:
    WD_result = df[df['기준_일'] == WD]
    WD_result_list.append(WD_result)

In [46]:
csv_file = '유동인구22년7월주말.csv'

for i in range(len(weekend)):
    WE_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))

In [47]:
csv_file = '유동인구22년7월평일.csv'

for i in range(len(weekend)):
    WD_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))

## 8월 데이터 주말 평일 분리

In [48]:
start_date = datetime.datetime(2022, 8, 1)
end_date = datetime.datetime(2022, 8, 31)

weekend, weekday = split_weekend_weekday(start_date, end_date)

# 일 수를 1자리 숫자로 변경
weekend = [WE[:0] + str(int(WE[0:])) for WE in weekend]
weekday = [WD[:0] + str(int(WD[0:])) for WD in weekday]


print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

weekend = [6, 7, 13, 14, 20, 21, 27, 28]
weekday = [1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 22, 23, 24, 25, 26, 29, 30, 31]
print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

주말 데이터: ['6', '7', '13', '14', '20', '21', '27', '28']
평일 데이터: ['1', '2', '3', '4', '5', '8', '9', '10', '11', '12', '15', '16', '17', '18', '19', '22', '23', '24', '25', '26', '29', '30', '31']
주말 데이터: [6, 7, 13, 14, 20, 21, 27, 28]
평일 데이터: [1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19, 22, 23, 24, 25, 26, 29, 30, 31]

In [49]:
WE_result_list = []
WD_result_list = []

for WK in weekend:
    WE_result = df[df['기준_일'] == WK]
    WE_result_list.append(WE_result)
    
for WD in weekday:
    WD_result = df[df['기준_일'] == WD]
    WD_result_list.append(WD_result)

In [50]:
csv_file = '유동인구22년8월주말.csv'

for i in range(len(weekend)):
    WE_result_list[i].to_csv(csv_file, mode='a',header=not os.path.isfile(csv_file))

In [51]:
csv_file = '유동인구22년8월평일.csv'

for i in range(len(weekend)):
    WD_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))

## 9월 데이터 주말 평일 분리

In [52]:
start_date = datetime.datetime(2022, 9, 1)
end_date = datetime.datetime(2022, 9, 30)

weekend, weekday = split_weekend_weekday(start_date, end_date)

# 일 수를 1자리 숫자로 변경
weekend = [WE[:0] + str(int(WE[0:])) for WE in weekend]
weekday = [WD[:0] + str(int(WD[0:])) for WD in weekday]


print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

weekend = [3, 4, 10, 11, 17, 18, 24, 25]
weekday = [1, 2, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 19, 20, 21, 22, 23, 26, 27, 28, 29, 30]
print("주말 데이터:", weekend)
print("평일 데이터:", weekday)

주말 데이터: ['3', '4', '10', '11', '17', '18', '24', '25']
평일 데이터: ['1', '2', '5', '6', '7', '8', '9', '12', '13', '14', '15', '16', '19', '20', '21', '22', '23', '26', '27', '28', '29', '30']
주말 데이터: [3, 4, 10, 11, 17, 18, 24, 25]
평일 데이터: [1, 2, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 19, 20, 21, 22, 23, 26, 27, 28, 29, 30]

In [53]:
WE_result_list = []
WD_result_list = []

for WK in weekend:
    WE_result = df[df['기준_일'] == WK]
    WE_result_list.append(WE_result)
    
for WD in weekday:
    WD_result = df[df['기준_일'] == WD]
    WD_result_list.append(WD_result)

In [54]:
csv_file = '유동인구22년9월주말.csv'

for i in range(len(weekend)):
    WE_result_list[i].to_csv(csv_file, mode='a',  header=not os.path.isfile(csv_file))

In [55]:
csv_file = '유동인구22년9월평일.csv'

for i in range(len(weekend)):
    WD_result_list[i].to_csv(csv_file, mode='a', header=not os.path.isfile(csv_file))