# 내외동 데이터

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('내외동_1시간기온강수_20211001_20220930.csv', encoding = 'cp949', index_col = 0)
df

      month  day  hour   c  p
year
2021     10    1   200  26  0
2021     10    1   200  23  0
2021     10    1   200  22  0
2021     10    1   200  21  0
2021     10    1   200  21  0
...     ...  ...   ...  .. ..
2022      9   30  2300  24  0
2022      9   30  2300  24  0
2022      9   30  2300  23  0
2022      9   30  2300  23  0
2022      9   30  2300  23  0

[185420 rows x 5 columns]

## 11:00

In [3]:
df_11 = df[df['hour'].isin([1100])]
df_11

      month  day  hour   c  p
year
2021     10    1  1100  19  0
2021     10    1  1100  19  0
2021     10    1  1100  18  0
2021     10    1  1100  18  0
2021     10    1  1100  18  0
...     ...  ...   ...  .. ..
2022      9   30  1100  24  0
2022      9   30  1100  24  0
2022      9   30  1100  24  0
2022      9   30  1100  23  0
2022      9   30  1100  23  0

[25915 rows x 5 columns]

### 월별로 분리

In [4]:
month_list = [10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9]
result_list = []

for month in month_list:
    result_1100 = df_11[df_11['month'].astype(str).str.contains(str(month), na = False)]
    result_list.append(result_1100)

10월 11:00

In [5]:
month_10_11 = result_list[0]
month_10_1100 = month_10_11.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_10_1100.to_csv('내외동_21년_10월_1100.csv', encoding = 'cp949', index = False)
month_10_1100

    year  month  day  hour      c_avr     p_avr
0   2021     10    1  1100  22.676056  0.000000
1   2021     10    2  1100  22.746479  0.000000
2   2021     10    3  1100  22.929577  0.000000
3   2021     10    4  1100  22.535211  0.000000
4   2021     10    5  1100  22.154930  0.000000
5   2021     10    6  1100  22.352113  0.000000
6   2021     10    7  1100  22.690141  0.239437
7   2021     10    8  1100  22.661972  0.000000
8   2021     10    9  1100  20.704225  0.239437
9   2021     10   10  1100  19.281690  0.211268
10  2021     10   11  1100  19.521127  0.000000
11  2021     10   12  1100  20.225352  0.000000
12  2021     10   13  1100  18.619718  0.028169
13  2021     10   14  1100  15.084507  0.000000
14  2021     10   15  1100  11.676056  0.000000
15  2021     10   16  1100  11.042254  0.000000
16  2021     10   17  1100  11.690141  0.000000
17  2021     10   18  1100  12.126761  0.000000
18  2021     10   19  1100  11.676056  0.000000
19  2021     10   20  1100  12.605634  0.056338
20  2021     10   21  1100  12.901408  0.000000
21  2021     10   22  1100  13.873239  0.000000
22  2021     10   23  1100  14.098592  0.000000
23  2021     10   24  1100  14.507042  0.000000
24  2021     10   25  1100  13.830986  0.000000
25  2021     10   26  1100  14.028169  0.000000
26  2021     10   27  1100  14.070423  0.000000
27  2021     10   28  1100  14.154930  0.000000
28  2021     10   29  1100  14.281690  0.000000
29  2021     10   30  1100  14.197183  0.000000
30  2021     10   31  1100  13.507042  0.000000

11월 11:00

In [6]:
month_11_11 = result_list[1]
month_11_1100 = month_11_11.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_11_1100.to_csv('내외동_21년_11월_1100.csv', encoding = 'cp949', index = False)
month_11_1100

    year  month  day  hour      c_avr     p_avr
0   2021     11    1  1100  12.887324  0.000000
1   2021     11    2  1100  13.197183  0.000000
2   2021     11    3  1100  14.014085  0.000000
3   2021     11    4  1100  14.802817  0.000000
4   2021     11    5  1100  14.957746  0.535211
5   2021     11    6  1100  12.971831  0.352113
6   2021     11    7  1100  10.422535  0.352113
7   2021     11    8  1100   8.873239  0.000000
8   2021     11    9  1100   8.478873  0.000000
9   2021     11   10  1100   8.253521  0.000000
10  2021     11   11  1100   8.943662  0.000000
11  2021     11   12  1100  10.464789  0.000000
12  2021     11   13  1100  11.014085  0.000000
13  2021     11   14  1100  10.366197  0.000000
14  2021     11   15  1100   9.985915  0.000000
15  2021     11   16  1100  10.366197  0.000000
16  2021     11   17  1100  11.408451  0.000000
17  2021     11   18  1100  11.802817  0.000000
18  2021     11   19  1100  11.154930  0.000000
19  2021     11   20  1100   8.802817  0.000000
20  2021     11   21  1100   6.718310  0.000000
21  2021     11   22  1100   6.619718  0.000000
22  2021     11   23  1100   7.309859  0.000000
23  2021     11   24  1100   6.408451  0.000000
24  2021     11   25  1100   4.619718  0.000000
25  2021     11   26  1100   6.098592  0.000000
26  2021     11   27  1100   8.478873  0.577465
27  2021     11   28  1100   6.887324  0.732394
28  2021     11   29  1100   5.211268  0.774648
29  2021     11   30  1100   3.492958  0.000000

12월 11:00

In [7]:
month_12_11 = result_list[2]
month_12_1100 = month_12_11.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_12_1100.to_csv('내외동_21년_12월_1100.csv', encoding = 'cp949', index = False)
month_12_1100

    year  month  day  hour     c_avr     p_avr
0   2021     12    1  1100  3.366197  0.000000
1   2021     12    2  1100  4.338028  0.000000
2   2021     12    3  1100  4.619718  0.000000
3   2021     12    4  1100  6.366197  0.000000
4   2021     12    5  1100  8.140845  0.000000
5   2021     12    6  1100  7.957746  0.000000
6   2021     12    7  1100  8.464789  0.000000
7   2021     12    8  1100  8.605634  0.000000
8   2021     12    9  1100  8.084507  0.000000
9   2021     12   10  1100  4.802817  0.000000
10  2021     12   11  1100  2.802817  0.000000
11  2021     12   12  1100  2.957746  0.000000
12  2021     12   13  1100  5.211268  0.112676
13  2021     12   14  1100  4.859155  0.000000
14  2021     12   15  1100  1.619718  0.028169
15  2021     12   16  1100  0.450704  0.000000
16  2021     12   17  1100  1.690141  0.000000
17  2021     12   18  1100  4.802817  0.000000
18  2021     12   19  1100  6.253521  0.000000
19  2021     12   20  1100  5.802817  0.000000
20  2021     12   21  1100  5.366197  0.000000
21  2021     12   22  1100  2.394366  0.000000
22  2021     12   23  1100 -1.774648  0.000000
23  2021     12   24  1100 -4.436620  0.000000
24  2021     12   25  1100 -2.535211  0.000000
25  2021     12   26  1100  0.140845  0.000000
26  2021     12   27  1100  2.000000  0.000000
27  2021     12   28  1100  0.394366  0.000000
28  2021     12   29  1100 -1.098592  0.000000
29  2021     12   30  1100 -0.661972  0.000000
30  2021     12   31  1100  0.577465  0.000000

1월 11:00

In [8]:
month_1_11 = result_list[3].drop([2021], axis = 0)
month_1_1100 = month_1_11.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_1_1100.to_csv('내외동_22년_1월_1100.csv', encoding = 'cp949', index = False)
month_1_1100

    year  month  day  hour     c_avr  p_avr
0   2022      1    1  1100  1.408451    0.0
1   2022      1    2  1100  1.352113    0.0
2   2022      1    3  1100  2.056338    0.0
3   2022      1    4  1100  1.929577    0.0
4   2022      1    5  1100  2.732394    0.0
5   2022      1    6  1100  2.535211    0.0
6   2022      1    7  1100  3.056338    0.0
7   2022      1    8  1100  2.619718    0.0
8   2022      1    9  1100  0.478873    0.0
9   2022      1   10  1100 -2.014085    0.0
10  2022      1   11  1100 -2.521127    0.0
11  2022      1   12  1100 -1.154930    0.0
12  2022      1   13  1100  0.352113    0.0
13  2022      1   14  1100  1.183099    0.0
14  2022      1   15  1100 -0.126761    0.0
15  2022      1   16  1100 -0.859155    0.0
16  2022      1   17  1100 -0.788732    0.0
17  2022      1   18  1100  0.788732    0.0
18  2022      1   19  1100  1.873239    0.0
19  2022      1   20  1100  4.436620    0.0
20  2022      1   21  1100  5.915493    0.0
21  2022      1   22  1100  5.450704    0.0
22  2022      1   23  1100  4.704225    0.0
23  2022      1   24  1100  4.070423    0.0
24  2022      1   25  1100  3.225352    0.0
25  2022      1   26  1100  2.281690    0.0
26  2022      1   27  1100  1.619718    0.0
27  2022      1   28  1100  1.661972    0.0
28  2022      1   29  1100  1.873239    0.0
29  2022      1   30  1100  1.549296    0.0
30  2022      1   31  1100  0.802817    0.0

2월 11:00

In [9]:
month_2_11 = result_list[4].drop([2021], axis = 0)
month_2_1100 = month_2_11.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_2_1100.to_csv('내외동_22년_2월_1100.csv', encoding = 'cp949', index = False)
month_2_1100

    year  month  day  hour     c_avr     p_avr
0   2022      2    1  1100  0.183099  0.000000
1   2022      2    2  1100 -0.732394  0.000000
2   2022      2    3  1100 -0.859155  0.000000
3   2022      2    4  1100 -1.422535  0.000000
4   2022      2    5  1100  0.704225  0.000000
5   2022      2    6  1100  2.380282  0.000000
6   2022      2    7  1100  3.774648  0.000000
7   2022      2    8  1100  4.521127  0.000000
8   2022      2    9  1100  5.521127  0.000000
9   2022      2   10  1100  5.830986  0.042254
10  2022      2   11  1100  6.563380  0.000000
11  2022      2   12  1100  5.338028  0.000000
12  2022      2   13  1100  1.971831  0.000000
13  2022      2   14  1100 -1.661972  0.000000
14  2022      2   15  1100 -1.366197  0.000000
15  2022      2   16  1100  0.690141  0.000000
16  2022      2   17  1100  1.225352  0.000000
17  2022      2   18  1100  0.746479  0.000000
18  2022      2   19  1100 -0.577465  0.000000
19  2022      2   20  1100 -0.535211  0.000000
20  2022      2   21  1100 -0.394366  0.000000
21  2022      2   22  1100  1.239437  0.000000
22  2022      2   23  1100  4.323944  0.000000
23  2022      2   24  1100  5.929577  0.000000
24  2022      2   25  1100  6.577465  0.000000
25  2022      2   26  1100  7.915493  0.000000
26  2022      2   27  1100  8.183099  0.000000
27  2022      2   28  1100  7.873239  0.000000

3월 11:00

In [10]:
month_3_11 = result_list[5]
month_3_1100 = month_3_11.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_3_1100.to_csv('내외동_22년_3월_1100.csv', encoding = 'cp949', index = False)
month_3_1100

    year  month  day  hour      c_avr     p_avr
0   2022      3    1  1100   6.746479  0.000000
1   2022      3    2  1100   6.873239  0.000000
2   2022      3    3  1100   6.281690  0.000000
3   2022      3    4  1100   5.056338  0.000000
4   2022      3    5  1100   5.422535  0.000000
5   2022      3    6  1100   7.211268  0.000000
6   2022      3    7  1100   8.619718  0.000000
7   2022      3    8  1100  10.633803  0.000000
8   2022      3    9  1100  12.014085  0.000000
9   2022      3   10  1100  14.112676  0.169014
10  2022      3   11  1100  13.661972  0.112676
11  2022      3   12  1100  13.183099  0.098592
12  2022      3   13  1100  11.985915  0.000000
13  2022      3   14  1100  12.211268  0.000000
14  2022      3   15  1100  11.492958  0.225352
15  2022      3   16  1100   8.408451  0.239437
16  2022      3   17  1100   6.957746  0.183099
17  2022      3   18  1100   6.774648  0.070423
18  2022      3   19  1100   8.225352  0.000000
19  2022      3   20  1100   8.718310  0.000000
20  2022      3   21  1100   9.239437  0.000000
21  2022      3   22  1100  10.239437  0.000000
22  2022      3   23  1100  12.647887  0.859155
23  2022      3   24  1100  13.450704  0.732394
24  2022      3   25  1100  11.887324  0.704225
25  2022      3   26  1100  10.042254  0.000000
26  2022      3   27  1100  10.408451  0.000000
27  2022      3   28  1100  11.661972  0.000000
28  2022      3   29  1100  11.267606  0.000000
29  2022      3   30  1100   9.957746  0.000000
30  2022      3   31  1100   9.746479  0.000000

4월 11:00

In [11]:
month_4_11 = result_list[6]
month_4_1100 = month_4_11.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_4_1100.to_csv('내외동_22년_4월_1100.csv', encoding = 'cp949', index = False)
month_4_1100

    year  month  day  hour      c_avr     p_avr
0   2022      4    1  1100  10.577465  0.000000
1   2022      4    2  1100  11.591549  0.000000
2   2022      4    3  1100  12.436620  0.000000
3   2022      4    4  1100  13.112676  0.000000
4   2022      4    5  1100  13.267606  0.000000
5   2022      4    6  1100  14.507042  0.000000
6   2022      4    7  1100  15.042254  0.000000
7   2022      4    8  1100  16.380282  0.000000
8   2022      4    9  1100  17.422535  0.000000
9   2022      4   10  1100  17.000000  0.267606
10  2022      4   11  1100  15.450704  0.000000
11  2022      4   12  1100  13.169014  0.000000
12  2022      4   13  1100  12.112676  0.000000
13  2022      4   14  1100  12.774648  0.000000
14  2022      4   15  1100  13.661972  0.000000
15  2022      4   16  1100  15.140845  0.000000
16  2022      4   17  1100  16.140845  0.000000
17  2022      4   18  1100  16.464789  0.000000
18  2022      4   19  1100  16.774648  0.000000
19  2022      4   20  1100  16.183099  0.000000
20  2022      4   21  1100  16.985915  0.000000
21  2022      4   22  1100  18.422535  0.295775
22  2022      4   23  1100  19.000000  0.718310
23  2022      4   24  1100  18.295775  0.718310
24  2022      4   25  1100  16.873239  0.718310
25  2022      4   26  1100  15.239437  0.084507
26  2022      4   27  1100  14.000000  0.000000
27  2022      4   28  1100  13.549296  0.000000
28  2022      4   29  1100  13.887324  0.000000
29  2022      4   30  1100  14.352113  0.000000

5월 11:00

In [12]:
month_5_11 = result_list[7]
month_5_1100 = month_5_11.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_5_1100.to_csv('내외동_22년_5월_1100.csv', encoding = 'cp949', index = False)
month_5_1100

    year  month  day  hour      c_avr     p_avr
0   2022      5    1  1100  15.042254  0.000000
1   2022      5    2  1100  16.112676  0.000000
2   2022      5    3  1100  17.338028  0.000000
3   2022      5    4  1100  18.422535  0.000000
4   2022      5    5  1100  18.126761  0.000000
5   2022      5    6  1100  16.802817  0.000000
6   2022      5    7  1100  16.211268  0.000000
7   2022      5    8  1100  16.521127  0.000000
8   2022      5    9  1100  17.394366  0.000000
9   2022      5   10  1100  18.267606  0.000000
10  2022      5   11  1100  18.267606  0.000000
11  2022      5   12  1100  17.169014  0.000000
12  2022      5   13  1100  17.309859  0.000000
13  2022      5   14  1100  17.619718  0.000000
14  2022      5   15  1100  18.746479  0.000000
15  2022      5   16  1100  19.985915  0.000000
16  2022      5   17  1100  20.507042  0.000000
17  2022      5   18  1100  20.718310  0.000000
18  2022      5   19  1100  21.323944  0.000000
19  2022      5   20  1100  22.521127  0.042254
20  2022      5   21  1100  23.323944  0.000000
21  2022      5   22  1100  22.309859  0.000000
22  2022      5   23  1100  21.943662  0.000000
23  2022      5   24  1100  21.394366  0.000000
24  2022      5   25  1100  21.788732  0.000000
25  2022      5   26  1100  21.718310  0.000000
26  2022      5   27  1100  21.507042  0.000000
27  2022      5   28  1100  21.549296  0.000000
28  2022      5   29  1100  21.323944  0.084507
29  2022      5   30  1100  22.000000  0.000000
30  2022      5   31  1100  22.028169  0.000000

6월 11:00

In [13]:
month_6_11 = result_list[8]
month_6_1100 = month_6_11.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_6_1100.to_csv('내외동_22년_6월_1100.csv', encoding = 'cp949', index = False)
month_6_1100

    year  month  day  hour      c_avr     p_avr
0   2022      6    1  1100  21.647887  0.000000
1   2022      6    2  1100  20.943662  0.000000
2   2022      6    3  1100  19.591549  0.056338
3   2022      6    4  1100  18.943662  0.042254
4   2022      6    5  1100  18.253521  0.084507
5   2022      6    6  1100  18.239437  0.000000
6   2022      6    7  1100  19.436620  0.000000
7   2022      6    8  1100  19.492958  0.000000
8   2022      6    9  1100  20.718310  0.000000
9   2022      6   10  1100  20.549296  0.000000
10  2022      6   11  1100  19.732394  0.000000
11  2022      6   12  1100  19.154930  0.126761
12  2022      6   13  1100  20.126761  0.295775
13  2022      6   14  1100  21.845070  0.000000
14  2022      6   15  1100  22.676056  0.000000
15  2022      6   16  1100  23.309859  0.000000
16  2022      6   17  1100  23.774648  0.000000
17  2022      6   18  1100  24.309859  0.140845
18  2022      6   19  1100  24.774648  0.014085
19  2022      6   20  1100  24.647887  0.169014
20  2022      6   21  1100  24.323944  0.281690
21  2022      6   22  1100  24.239437  0.521127
22  2022      6   23  1100  24.661972  0.591549
23  2022      6   24  1100  24.802817  0.000000
24  2022      6   25  1100  25.028169  0.042254
25  2022      6   26  1100  24.971831  0.338028
26  2022      6   27  1100  25.112676  0.422535
27  2022      6   28  1100  25.535211  0.028169
28  2022      6   29  1100  26.126761  0.000000
29  2022      6   30  1100  26.774648  0.000000

7월 11:00

In [14]:
month_7_11 = result_list[9]
month_7_1100 = month_7_11.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_7_1100.to_csv('내외동_22년_7월_1100.csv', encoding = 'cp949', index = False)
month_7_1100

    year  month  day  hour      c_avr     p_avr
0   2022      7    1  1100  27.140845  0.338028
1   2022      7    2  1100  27.718310  0.014085
2   2022      7    3  1100  27.633803  0.225352
3   2022      7    4  1100  27.323944  0.000000
4   2022      7    5  1100  27.690141  0.140845
5   2022      7    6  1100  27.887324  0.084507
6   2022      7    7  1100  27.690141  0.140845
7   2022      7    8  1100  27.492958  0.098592
8   2022      7    9  1100  26.676056  0.042254
9   2022      7   10  1100   0.000000  0.136150
10  2022      7   11  1100  26.492958  0.154930
11  2022      7   12  1100  26.225352  0.169014
12  2022      7   13  1100  27.239437  0.000000
13  2022      7   14  1100  26.830986  0.000000
14  2022      7   15  1100  26.169014  0.830986
15  2022      7   16  1100  26.492958  1.521127
16  2022      7   17  1100  26.394366  1.380282
17  2022      7   19  1100  26.690141  0.338028
18  2022      7   20  1100  25.507042  0.295775
19  2022      7   21  1100  25.267606  0.169014
20  2022      7   23  1100  26.450704  0.169014
21  2022      7   24  1100  26.535211  0.000000
22  2022      7   25  1100  26.394366  0.000000
23  2022      7   26  1100  27.126761  0.000000
24  2022      7   27  1100  28.169014  0.070423
25  2022      7   28  1100  28.366197  0.000000
26  2022      7   29  1100  27.535211  1.323944
27  2022      7   30  1100  26.732394  0.464789
28  2022      7   31  1100  27.802817  0.098592

8월 11:00

In [15]:
month_8_11 = result_list[10]
month_8_1100 = month_8_11.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_8_1100.to_csv('내외동_22년_8월_1100.csv', encoding = 'cp949', index = False)
month_8_1100

    year  month  day  hour      c_avr     p_avr
0   2022      8    1  1100  28.352113  0.014085
1   2022      8    2  1100  28.591549  0.028169
2   2022      8    3  1100  28.985915  0.056338
3   2022      8    4  1100  28.887324  0.295775
4   2022      8    5  1100  29.183099  0.042254
5   2022      8    6  1100  29.056338  0.042254
6   2022      8    7  1100  28.323944  0.000000
7   2022      8    8  1100  28.197183  0.000000
8   2022      8    9  1100  28.295775  0.154930
9   2022      8   10  1100  28.661972  0.169014
10  2022      8   11  1100  29.070423  0.000000
11  2022      8   12  1100  29.028169  0.000000
12  2022      8   13  1100  28.746479  0.676056
13  2022      8   14  1100  27.760563  1.676056
14  2022      8   15  1100  26.450704  0.746479
15  2022      8   16  1100  26.042254  0.591549
16  2022      8   17  1100  26.915493  0.380282
17  2022      8   18  1100  26.647887  0.126761
18  2022      8   19  1100  26.000000  0.042254
19  2022      8   20  1100  26.183099  0.000000
20  2022      8   21  1100  25.957746  0.000000
21  2022      8   22  1100  25.295775  0.323944
22  2022      8   23  1100  24.084507  0.042254
23  2022      8   24  1100  24.591549  0.000000
24  2022      8   25  1100  23.887324  0.000000
25  2022      8   26  1100  22.676056  0.000000
26  2022      8   27  1100  22.295775  0.239437
27  2022      8   28  1100  23.802817  0.281690
28  2022      8   29  1100  23.845070  0.084507
29  2022      8   30  1100  23.126761  0.563380
30  2022      8   31  1100  22.802817  0.619718

9월 11:00

In [16]:
month_9_11 = result_list[11]
month_9_1100 = month_9_11.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_9_1100.to_csv('내외동_22년_9월_1100.csv', encoding = 'cp949', index = False)
month_9_1100

    year  month  day  hour      c_avr     p_avr
0   2022      9    1  1100  23.577465  0.746479
1   2022      9    2  1100  25.422535  1.943662
2   2022      9    3  1100  25.352113  3.422535
3   2022      9    4  1100  23.971831  1.492958
4   2022      9    5  1100  22.915493  1.281690
5   2022      9    6  1100  22.056338  0.000000
6   2022      9    7  1100  22.267606  0.000000
7   2022      9    8  1100  22.366197  0.014085
8   2022      9    9  1100  22.352113  0.000000
9   2022      9   10  1100  23.042254  0.000000
10  2022      9   11  1100  23.309859  0.000000
11  2022      9   12  1100  23.394366  0.000000
12  2022      9   13  1100  23.577465  0.000000
13  2022      9   14  1100  24.408451  0.000000
14  2022      9   15  1100   0.000000  0.000000
15  2022      9   16  1100  25.211268  0.774648
16  2022      9   17  1100  22.760563  0.774648
17  2022      9   18  1100  19.535211  0.591549
18  2022      9   19  1100  18.549296  0.000000
19  2022      9   20  1100  19.422535  0.000000
20  2022      9   21  1100  19.845070  0.000000
21  2022      9   22  1100  19.943662  0.000000
22  2022      9   23  1100  19.366197  0.000000
23  2022      9   24  1100  20.183099  0.000000
24  2022      9   25  1100  20.464789  0.000000
25  2022      9   26  1100  20.915493  0.000000
26  2022      9   27  1100  21.070423  0.000000
27  2022      9   28  1100  21.126761  0.000000
28  2022      9   29  1100  21.295775  0.000000
29  2022      9   30  1100  21.985915  0.000000

## 17:00

In [17]:
df_17 = df[df['hour'].isin([1700])]
df_17

      month  day  hour   c  p
year
2021     10    1  1700  19  0
2021     10    1  1700  21  0
2021     10    1  1700  23  0
2021     10    1  1700  25  0
2021     10    1  1700  26  0
...     ...  ...   ...  .. ..
2022      9   30  1700  24  0
2022      9   30  1700  24  0
2022      9   30  1700  24  0
2022      9   30  1700  23  0
2022      9   30  1700  23  0

[23725 rows x 5 columns]

### 월별로 분리

In [18]:
month_list = [10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9]
result_list = []

for month in month_list:
    result_1700 = df_17[df_17['month'].astype(str).str.contains(str(month), na = False)]
    result_list.append(result_1700)

10월 17:00

In [19]:
month_10_17 = result_list[0]
month_10_1700 = month_10_17.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_10_1700.to_csv('내외동_21년_10월_1700.csv', encoding = 'cp949', index = False)
month_10_1700

    year  month  day  hour      c_avr     p_avr
0   2021     10    1  1700  23.076923  0.000000
1   2021     10    2  1700  23.123077  0.000000
2   2021     10    3  1700  23.138462  0.000000
3   2021     10    4  1700  22.723077  0.000000
4   2021     10    5  1700  22.338462  0.000000
5   2021     10    6  1700  22.661538  0.000000
6   2021     10    7  1700  23.000000  0.261538
7   2021     10    8  1700  22.907692  0.000000
8   2021     10    9  1700  20.769231  0.261538
9   2021     10   10  1700  19.169231  0.184615
10  2021     10   11  1700  19.630769  0.000000
11  2021     10   12  1700  20.430769  0.000000
12  2021     10   13  1700  18.830769  0.030769
13  2021     10   14  1700  14.876923  0.000000
14  2021     10   15  1700  11.076923  0.000000
15  2021     10   16  1700  11.584615  0.000000
16  2021     10   17  1700  12.323077  0.000000
17  2021     10   18  1700  12.446154  0.000000
18  2021     10   19  1700  12.046154  0.000000
19  2021     10   20  1700  12.984615  0.061538
20  2021     10   21  1700  13.276923  0.000000
21  2021     10   22  1700  14.353846  0.000000
22  2021     10   23  1700  14.569231  0.000000
23  2021     10   24  1700  14.861538  0.000000
24  2021     10   25  1700  14.276923  0.000000
25  2021     10   26  1700  14.338462  0.000000
26  2021     10   27  1700  14.569231  0.000000
27  2021     10   28  1700  14.461538  0.000000
28  2021     10   29  1700  14.661538  0.000000
29  2021     10   30  1700  14.630769  0.000000
30  2021     10   31  1700  13.738462  0.000000

11월 17:00

In [20]:
month_11_17 = result_list[1]
month_11_1700 = month_11_17.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_11_1700.to_csv('내외동_21년_11월_1700.csv', encoding = 'cp949', index = False)
month_11_1700

    year  month  day  hour      c_avr     p_avr
0   2021     11    1  1700  13.184615  0.000000
1   2021     11    2  1700  13.661538  0.000000
2   2021     11    3  1700  14.553846  0.000000
3   2021     11    4  1700  15.369231  0.000000
4   2021     11    5  1700  15.353846  0.584615
5   2021     11    6  1700  13.046154  0.384615
6   2021     11    7  1700   9.938462  0.384615
7   2021     11    8  1700   9.153846  0.000000
8   2021     11    9  1700   8.723077  0.000000
9   2021     11   10  1700   8.369231  0.000000
10  2021     11   11  1700   9.369231  0.000000
11  2021     11   12  1700  11.061538  0.000000
12  2021     11   13  1700  11.476923  0.000000
13  2021     11   14  1700  10.707692  0.000000
14  2021     11   15  1700  10.276923  0.000000
15  2021     11   16  1700  10.892308  0.000000
16  2021     11   17  1700  11.907692  0.000000
17  2021     11   18  1700  12.307692  0.000000
18  2021     11   19  1700  11.476923  0.000000
19  2021     11   20  1700   8.784615  0.000000
20  2021     11   21  1700   6.246154  0.000000
21  2021     11   22  1700   7.076923  0.000000
22  2021     11   23  1700   7.615385  0.000000
23  2021     11   24  1700   6.415385  0.000000
24  2021     11   25  1700   4.861538  0.000000
25  2021     11   26  1700   6.646154  0.000000
26  2021     11   27  1700   9.138462  0.630769
27  2021     11   28  1700   7.215385  0.800000
28  2021     11   29  1700   4.984615  0.846154
29  2021     11   30  1700   3.569231  0.000000

12월 17:00

In [21]:
month_12_17 = result_list[2]
month_12_1700 = month_12_17.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_12_1700.to_csv('내외동_21년_12월_1700.csv', encoding = 'cp949', index = False)
month_12_1700

    year  month  day  hour     c_avr     p_avr
0   2021     12    1  1700  3.907692  0.000000
1   2021     12    2  1700  4.430769  0.000000
2   2021     12    3  1700  5.107692  0.000000
3   2021     12    4  1700  7.015385  0.000000
4   2021     12    5  1700  8.615385  0.000000
5   2021     12    6  1700  8.230769  0.000000
6   2021     12    7  1700  8.830769  0.000000
7   2021     12    8  1700  9.076923  0.000000
8   2021     12    9  1700  8.353846  0.000000
9   2021     12   10  1700  4.661538  0.000000
10  2021     12   11  1700  2.476923  0.000000
11  2021     12   12  1700  3.538462  0.000000
12  2021     12   13  1700  5.938462  0.123077
13  2021     12   14  1700  5.261538  0.000000
14  2021     12   15  1700  1.400000  0.030769
15  2021     12   16  1700  0.092308  0.000000
16  2021     12   17  1700  2.461538  0.000000
17  2021     12   18  1700  5.338462  0.000000
18  2021     12   19  1700  6.846154  0.000000
19  2021     12   20  1700  5.969231  0.000000
20  2021     12   21  1700  5.676923  0.000000
21  2021     12   22  1700  2.553846  0.000000
22  2021     12   23  1700 -2.015385  0.000000
23  2021     12   24  1700 -4.507692  0.000000
24  2021     12   25  1700 -1.938462  0.000000
25  2021     12   26  1700  0.953846  0.000000
26  2021     12   27  1700  2.400000  0.000000
27  2021     12   28  1700  0.430769  0.000000
28  2021     12   29  1700 -1.169231  0.000000
29  2021     12   30  1700 -0.230769  0.000000
30  2021     12   31  1700  1.123077  0.000000

1월 17:00

In [22]:
month_1_17 = result_list[3].drop([2021], axis = 0)
month_1_1700 = month_1_17.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_1_1700.to_csv('내외동_22년_1월_1700.csv', encoding = 'cp949', index = False)
month_1_1700

    year  month  day  hour     c_avr  p_avr
0   2022      1    1  1700  1.723077    0.0
1   2022      1    2  1700  1.692308    0.0
2   2022      1    3  1700  2.276923    0.0
3   2022      1    4  1700  2.338462    0.0
4   2022      1    5  1700  2.830769    0.0
5   2022      1    6  1700  2.953846    0.0
6   2022      1    7  1700  3.553846    0.0
7   2022      1    8  1700  2.861538    0.0
8   2022      1    9  1700  0.569231    0.0
9   2022      1   10  1700 -2.353846    0.0
10  2022      1   11  1700 -2.153846    0.0
11  2022      1   12  1700 -0.907692    0.0
12  2022      1   13  1700  1.015385    0.0
13  2022      1   14  1700  1.553846    0.0
14  2022      1   15  1700 -0.107692    0.0
15  2022      1   16  1700 -0.600000    0.0
16  2022      1   17  1700 -0.338462    0.0
17  2022      1   18  1700  1.307692    0.0
18  2022      1   19  1700  2.415385    0.0
19  2022      1   20  1700  5.169231    0.0
20  2022      1   21  1700  6.553846    0.0
21  2022      1   22  1700  5.661538    0.0
22  2022      1   23  1700  4.707692    0.0
23  2022      1   24  1700  4.400000    0.0
24  2022      1   25  1700  3.384615    0.0
25  2022      1   26  1700  2.384615    0.0
26  2022      1   27  1700  1.830769    0.0
27  2022      1   28  1700  1.907692    0.0
28  2022      1   29  1700  2.230769    0.0
29  2022      1   30  1700  1.923077    0.0
30  2022      1   31  1700  0.969231    0.0

2월 17:00

In [23]:
month_2_17 = result_list[4].drop([2021], axis = 0)
month_2_1700 = month_2_17.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_2_1700.to_csv('내외동_22년_2월_1700.csv', encoding = 'cp949', index = False)
month_2_1700

    year  month  day  hour     c_avr     p_avr
0   2022      2    1  1700  0.415385  0.000000
1   2022      2    2  1700 -0.553846  0.000000
2   2022      2    3  1700 -0.707692  0.000000
3   2022      2    4  1700 -1.092308  0.000000
4   2022      2    5  1700  1.230769  0.000000
5   2022      2    6  1700  2.907692  0.000000
6   2022      2    7  1700  4.230769  0.000000
7   2022      2    8  1700  5.107692  0.000000
8   2022      2    9  1700  5.784615  0.000000
9   2022      2   10  1700  6.415385  0.046154
10  2022      2   11  1700  7.046154  0.000000
11  2022      2   12  1700  5.553846  0.000000
12  2022      2   13  1700  1.800000  0.000000
13  2022      2   14  1700 -1.923077  0.000000
14  2022      2   15  1700 -1.061538  0.000000
15  2022      2   16  1700  1.430769  0.000000
16  2022      2   17  1700  1.861538  0.000000
17  2022      2   18  1700  0.630769  0.000000
18  2022      2   19  1700 -0.307692  0.000000
19  2022      2   20  1700 -0.092308  0.000000
20  2022      2   21  1700 -0.153846  0.000000
21  2022      2   22  1700  1.723077  0.000000
22  2022      2   23  1700  5.169231  0.000000
23  2022      2   24  1700  6.707692  0.000000
24  2022      2   25  1700  7.246154  0.000000
25  2022      2   26  1700  8.369231  0.000000
26  2022      2   27  1700  8.846154  0.000000
27  2022      2   28  1700  7.876923  0.000000

3월 17:00

In [24]:
month_3_17 = result_list[5]
month_3_1700 = month_3_17.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_3_1700.to_csv('내외동_22년_3월_1700.csv', encoding = 'cp949', index = False)
month_3_1700

    year  month  day  hour      c_avr     p_avr
0   2022      3    1  1700   7.107692  0.000000
1   2022      3    2  1700   7.538462  0.000000
2   2022      3    3  1700   6.692308  0.000000
3   2022      3    4  1700   4.876923  0.000000
4   2022      3    5  1700   6.000000  0.000000
5   2022      3    6  1700   7.923077  0.000000
6   2022      3    7  1700   9.276923  0.000000
7   2022      3    8  1700  11.292308  0.000000
8   2022      3    9  1700  12.692308  0.000000
9   2022      3   10  1700  14.738462  0.184615
10  2022      3   11  1700  13.923077  0.123077
11  2022      3   12  1700  12.984615  0.107692
12  2022      3   13  1700  12.092308  0.000000
13  2022      3   14  1700  12.692308  0.000000
14  2022      3   15  1700  11.953846  0.246154
15  2022      3   16  1700   8.153846  0.261538
16  2022      3   17  1700   6.769231  0.000000
17  2022      3   18  1700   6.923077  0.046154
18  2022      3   19  1700   8.738462  0.000000
19  2022      3   20  1700   9.107692  0.000000
20  2022      3   21  1700   9.430769  0.000000
21  2022      3   22  1700  10.676923  0.000000
22  2022      3   23  1700  13.430769  0.938462
23  2022      3   24  1700  13.969231  0.800000
24  2022      3   25  1700  11.615385  0.076923
25  2022      3   26  1700  10.123077  0.000000
26  2022      3   27  1700  10.846154  0.000000
27  2022      3   28  1700  12.246154  0.000000
28  2022      3   29  1700  11.538462  0.000000
29  2022      3   30  1700   9.646154  0.000000
30  2022      3   31  1700   9.984615  0.000000

4월 17:00

In [25]:
month_4_17 = result_list[6]
month_4_1700 = month_4_17.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_4_1700.to_csv('내외동_22년_4월_1700.csv', encoding = 'cp949', index = False)
month_4_1700

    year  month  day  hour      c_avr     p_avr
0   2022      4    1  1700  11.123077  0.000000
1   2022      4    2  1700  12.092308  0.000000
2   2022      4    3  1700  12.984615  0.000000
3   2022      4    4  1700  13.630769  0.000000
4   2022      4    5  1700  13.707692  0.000000
5   2022      4    6  1700  14.984615  0.000000
6   2022      4    7  1700  15.661538  0.000000
7   2022      4    8  1700  16.938462  0.000000
8   2022      4    9  1700  17.953846  0.000000
9   2022      4   10  1700  17.292308  0.292308
10  2022      4   11  1700  15.400000  0.000000
11  2022      4   12  1700  12.984615  0.000000
12  2022      4   13  1700  12.169231  0.000000
13  2022      4   14  1700  13.092308  0.000000
14  2022      4   15  1700  14.246154  0.000000
15  2022      4   16  1700  15.815385  0.000000
16  2022      4   17  1700  16.646154  0.000000
17  2022      4   18  1700  16.892308  0.000000
18  2022      4   19  1700  17.276923  0.000000
19  2022      4   20  1700  16.523077  0.000000
20  2022      4   21  1700  17.584615  0.000000
21  2022      4   22  1700  18.800000  0.323077
22  2022      4   23  1700  19.415385  0.784615
23  2022      4   24  1700  18.615385  0.784615
24  2022      4   25  1700  16.661538  0.061538
25  2022      4   26  1700  15.261538  0.092308
26  2022      4   27  1700  14.230769  0.000000
27  2022      4   28  1700  13.584615  0.000000
28  2022      4   29  1700  14.323077  0.000000
29  2022      4   30  1700  14.676923  0.000000

5월 17:00

In [26]:
month_5_17 = result_list[7]
month_5_1700 = month_5_17.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_5_1700.to_csv('내외동_22년_5월_1700.csv', encoding = 'cp949', index = False)
month_5_1700

    year  month  day  hour      c_avr     p_avr
0   2022      5    1  1700  15.584615  0.000000
1   2022      5    2  1700  16.769231  0.000000
2   2022      5    3  1700  18.061538  0.000000
3   2022      5    4  1700  19.015385  0.000000
4   2022      5    5  1700  18.492308  0.000000
5   2022      5    6  1700  16.953846  0.000000
6   2022      5    7  1700  16.492308  0.000000
7   2022      5    8  1700  16.846154  0.000000
8   2022      5    9  1700  17.876923  0.000000
9   2022      5   10  1700  18.661538  0.000000
10  2022      5   11  1700  18.369231  0.000000
11  2022      5   12  1700  17.276923  0.000000
12  2022      5   13  1700  17.538462  0.000000
13  2022      5   14  1700  18.076923  0.000000
14  2022      5   15  1700  19.307692  0.000000
15  2022      5   16  1700  20.692308  0.000000
16  2022      5   17  1700  21.046154  0.000000
17  2022      5   18  1700  21.184615  0.000000
18  2022      5   19  1700  21.861538  0.000000
19  2022      5   20  1700  23.107692  0.046154
20  2022      5   21  1700  23.907692  0.000000
21  2022      5   22  1700  22.723077  0.000000
22  2022      5   23  1700  22.307692  0.000000
23  2022      5   24  1700  21.676923  0.000000
24  2022      5   25  1700  22.153846  0.000000
25  2022      5   26  1700  22.246154  0.000000
26  2022      5   27  1700  21.953846  0.000000
27  2022      5   28  1700  21.953846  0.000000
28  2022      5   29  1700  21.553846  0.092308
29  2022      5   30  1700  22.446154  0.000000
30  2022      5   31  1700  22.384615  0.000000

6월 17:00

In [27]:
month_6_17 = result_list[8]
month_6_1700 = month_6_17.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_6_1700.to_csv('내외동_22년_6월_1700.csv', encoding = 'cp949', index = False)
month_6_1700

    year  month  day  hour      c_avr     p_avr
0   2022      6    1  1700  22.092308  0.000000
1   2022      6    2  1700  21.138462  0.000000
2   2022      6    3  1700  19.753846  0.061538
3   2022      6    4  1700  19.030769  0.046154
4   2022      6    5  1700  18.276923  0.092308
5   2022      6    6  1700  18.507692  0.000000
6   2022      6    7  1700  19.846154  0.000000
7   2022      6    8  1700  19.984615  0.000000
8   2022      6    9  1700  21.184615  0.000000
9   2022      6   10  1700  20.738462  0.000000
10  2022      6   11  1700  19.984615  0.000000
11  2022      6   12  1700  19.292308  0.138462
12  2022      6   13  1700  20.292308  0.323077
13  2022      6   14  1700  22.184615  0.000000
14  2022      6   15  1700  22.969231  0.000000
15  2022      6   16  1700  23.692308  0.000000
16  2022      6   17  1700  24.000000  0.000000
17  2022      6   18  1700  24.615385  0.153846
18  2022      6   19  1700  25.030769  0.015385
19  2022      6   20  1700  24.892308  0.184615
20  2022      6   21  1700  24.523077  0.307692
21  2022      6   22  1700  24.276923  0.569231
22  2022      6   23  1700  24.723077  0.369231
23  2022      6   24  1700  24.953846  0.000000
24  2022      6   25  1700  25.138462  0.046154
25  2022      6   26  1700  25.061538  0.369231
26  2022      6   27  1700  25.184615  0.461538
27  2022      6   28  1700  25.600000  0.030769
28  2022      6   29  1700  26.307692  0.000000
29  2022      6   30  1700  27.015385  0.000000

7월 17:00

In [28]:
month_7_17 = result_list[9]
month_7_1700 = month_7_17.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_7_1700.to_csv('내외동_22년_7월_1700.csv', encoding = 'cp949', index = False)
month_7_1700

    year  month  day  hour      c_avr     p_avr
0   2022      7    1  1700  27.476923  0.369231
1   2022      7    2  1700  27.953846  0.015385
2   2022      7    3  1700  27.861538  0.215385
3   2022      7    4  1700  27.553846  0.000000
4   2022      7    5  1700  27.938462  0.153846
5   2022      7    6  1700  28.061538  0.092308
6   2022      7    7  1700  27.846154  0.153846
7   2022      7    8  1700  27.769231  0.107692
8   2022      7    9  1700  26.830769  0.046154
9   2022      7   10  1700   0.000000  0.148718
10  2022      7   11  1700  26.723077  0.169231
11  2022      7   12  1700  26.523077  0.184615
12  2022      7   13  1700  27.369231  0.000000
13  2022      7   14  1700  27.046154  0.000000
14  2022      7   15  1700  26.400000  0.907692
15  2022      7   16  1700  26.769231  1.661538
16  2022      7   17  1700  26.553846  1.307692
17  2022      7   19  1700  26.984615  0.369231
18  2022      7   20  1700  25.676923  0.015385
19  2022      7   21  1700  25.461538  0.184615
20  2022      7   23  1700  26.692308  0.000000
21  2022      7   24  1700  26.769231  0.000000
22  2022      7   25  1700  26.615385  0.000000
23  2022      7   26  1700  27.492308  0.000000
24  2022      7   27  1700  28.492308  0.076923
25  2022      7   28  1700  28.661538  0.000000
26  2022      7   29  1700  27.646154  1.446154
27  2022      7   30  1700  26.800000  0.507692
28  2022      7   31  1700  27.969231  0.107692

8월 17:00

In [29]:
month_8_17 = result_list[10]
month_8_1700 = month_8_17.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_8_1700.to_csv('내외동_22년_8월_1700.csv', encoding = 'cp949', index = False)
month_8_1700

    year  month  day  hour      c_avr     p_avr
0   2022      8    1  1700  28.569231  0.015385
1   2022      8    2  1700  28.815385  0.030769
2   2022      8    3  1700  29.230769  0.061538
3   2022      8    4  1700  29.092308  0.323077
4   2022      8    5  1700  29.400000  0.046154
5   2022      8    6  1700  29.215385  0.153846
6   2022      8    7  1700  28.430769  0.000000
7   2022      8    8  1700  28.292308  0.000000
8   2022      8    9  1700  28.400000  0.169231
9   2022      8   10  1700  28.815385  0.184615
10  2022      8   11  1700  29.292308  0.000000
11  2022      8   12  1700  29.215385  0.000000
12  2022      8   13  1700  28.846154  0.738462
13  2022      8   14  1700  27.738462  1.830769
14  2022      8   15  1700  26.307692  0.815385
15  2022      8   16  1700  26.138462  0.323077
16  2022      8   17  1700  27.246154  0.415385
17  2022      8   18  1700  26.984615  0.138462
18  2022      8   19  1700  25.907692  0.046154
19  2022      8   20  1700  26.353846  0.000000
20  2022      8   21  1700  26.400000  0.000000
21  2022      8   22  1700  25.446154  0.353846
22  2022      8   23  1700  24.092308  0.030769
23  2022      8   24  1700  24.861538  0.000000
24  2022      8   25  1700  24.123077  0.000000
25  2022      8   26  1700  22.861538  0.000000
26  2022      8   27  1700  22.738462  0.261538
27  2022      8   28  1700  24.215385  0.307692
28  2022      8   29  1700  24.061538  0.092308
29  2022      8   30  1700  23.046154  0.307692
30  2022      8   31  1700  22.969231  0.676923

9월 17:00

In [30]:
month_9_17 = result_list[11]
month_9_1700 = month_9_17.groupby(['year', 'month', 'day', 'hour']).agg(c_avr = ('c', 'mean'), p_avr = ('p', 'mean')).reset_index()
month_9_1700.to_csv('내외동_22년_9월_1700.csv', encoding = 'cp949', index = False)
month_9_1700

    year  month  day  hour      c_avr     p_avr
0   2022      9    1  1700  23.784615  0.800000
1   2022      9    2  1700  25.738462  2.123077
2   2022      9    3  1700  25.553846  3.738462
3   2022      9    4  1700  23.892308  1.630769
4   2022      9    5  1700  22.784615  0.000000
5   2022      9    6  1700  22.461538  0.000000
6   2022      9    7  1700  22.646154  0.000000
7   2022      9    8  1700  22.753846  0.015385
8   2022      9    9  1700  22.646154  0.000000
9   2022      9   10  1700  23.323077  0.000000
10  2022      9   11  1700  23.523077  0.000000
11  2022      9   12  1700  23.523077  0.000000
12  2022      9   13  1700  23.784615  0.000000
13  2022      9   14  1700  24.615385  0.000000
14  2022      9   15  1700   0.000000  0.000000
15  2022      9   16  1700  25.507692  0.846154
16  2022      9   17  1700  22.507692  0.846154
17  2022      9   18  1700  19.030769  0.200000
18  2022      9   19  1700  18.753846  0.000000
19  2022      9   20  1700  19.938462  0.000000
20  2022      9   21  1700  20.276923  0.000000
21  2022      9   22  1700  20.200000  0.000000
22  2022      9   23  1700  19.815385  0.000000
23  2022      9   24  1700  20.615385  0.000000
24  2022      9   25  1700  20.753846  0.000000
25  2022      9   26  1700  21.246154  0.000000
26  2022      9   27  1700  21.415385  0.000000
27  2022      9   28  1700  21.507692  0.000000
28  2022      9   29  1700  21.784615  0.000000
29  2022      9   30  1700  22.492308  0.000000