## 유동인구 데이터 2021.10 ~ 2022.03

In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('floating_population.csv', encoding='cp949', index_col=0)
df

,기준_월,기준_일,행정동_명,시군구_코드,행정동_코드,서비스인구,주거인구,직장인구,방문인구,총 인구
기준_년,,,,,,,,,,
2021,10,1,내외동,48250,4825054000,83037,64124.645950,8575.684366,10336.669680,83037
2021,10,2,내외동,48250,4825054000,82290,63547.781290,8498.537598,10243.681110,82290
2021,10,3,내외동,48250,4825054000,80438,62117.589400,8307.271446,10013.139150,80438
2021,10,4,내외동,48250,4825054000,81906,63251.240430,8458.879821,10195.879750,81906
2021,10,5,내외동,48250,4825054000,82354,63597.204770,8505.147227,10251.648000,82354
...,...,...,...,...,...,...,...,...,...,...
2022,9,26,회현동,48250,4825052000,9936,5365.548692,1461.402938,3109.048370,9936
2022,9,27,회현동,48250,4825052000,11970,6463.930942,1760.566946,3745.502112,11970
2022,9,28,회현동,48250,4825052000,10835,5851.018526,1593.629311,3390.352162,10835
2022,9,29,회현동,48250,4825052000,6167,3330.247462,907.052327,1929.700211,6167
2022,9,30,회현동,48250,4825052000,6338,3422.589333,932.203283,1983.207384,6338

## 월별로 분리

In [12]:
month_list = [10, 11, 12, 1, 2, 3]
result_list = []

for month in month_list:
    result = df[df['기준_월'].astype(str).str.contains(str(month), na=False)]
    result_list.append(result)

In [13]:
month_10 = result_list[0]
month_10.to_csv('유동인구데이터_21년10월.csv', encoding='cp949', index=False)
month_10

,기준_월,기준_일,행정동_명,시군구_코드,행정동_코드,서비스인구,주거인구,직장인구,방문인구,총 인구
기준_년,,,,,,,,,,
2021,10,1,내외동,48250,4825054000,83037,64124.645950,8575.684366,10336.669680,83037
2021,10,2,내외동,48250,4825054000,82290,63547.781290,8498.537598,10243.681110,82290
2021,10,3,내외동,48250,4825054000,80438,62117.589400,8307.271446,10013.139150,80438
2021,10,4,내외동,48250,4825054000,81906,63251.240430,8458.879821,10195.879750,81906
2021,10,5,내외동,48250,4825054000,82354,63597.204770,8505.147227,10251.648000,82354
...,...,...,...,...,...,...,...,...,...,...
2021,10,27,회현동,48250,4825052000,10855,5861.818745,1596.570944,3396.610311,10855
2021,10,28,회현동,48250,4825052000,9986,5392.549239,1468.757019,3124.693742,9986
2021,10,29,회현동,48250,4825052000,10469,5653.374522,1539.797440,3275.828038,10469
2021,10,30,회현동,48250,4825052000,10231,5524.851919,1504.792015,3201.356066,10231
2021,10,31,회현동,48250,4825052000,10611,5730.056076,1560.683029,3320.260895,10611

In [14]:
month_11 = result_list[1]
month_11.to_csv('유동인구데이터_21년11월.csv', encoding='cp949', index=False)
month_11

,기준_월,기준_일,행정동_명,시군구_코드,행정동_코드,서비스인구,주거인구,직장인구,방문인구,총 인구
기준_년,,,,,,,,,,
2021,11,1,내외동,48250,4825054000,84351,65139.371730,8711.388321,10500.239950,84351
2021,11,2,내외동,48250,4825054000,83400,64404.969740,8613.173358,10381.856900,83400
2021,11,3,내외동,48250,4825054000,85108,65723.958810,8789.567844,10594.473350,85108
2021,11,4,내외동,48250,4825054000,84865,65536.304040,8764.471907,10564.224050,84865
2021,11,5,내외동,48250,4825054000,86509,66805.869630,8934.256763,10768.873600,86509
...,...,...,...,...,...,...,...,...,...,...
2021,11,26,회현동,48250,4825052000,10263,5542.132269,1509.498627,3211.369104,10263
2021,11,27,회현동,48250,4825052000,11180,6037.322300,1644.372469,3498.305231,11180
2021,11,28,회현동,48250,4825052000,10150,5481.111033,1492.878404,3176.010563,10150
2021,11,29,회현동,48250,4825052000,9658,5215.425651,1420.514249,3022.060100,9658
2021,11,30,회현동,48250,4825052000,9615,5192.205180,1414.189740,3008.605080,9615

In [15]:
month_12 = result_list[2]
month_12.to_csv('유동인구데이터_21년12월.csv', encoding='cp949', index=False)
month_12

,기준_월,기준_일,행정동_명,시군구_코드,행정동_코드,서비스인구,주거인구,직장인구,방문인구,총 인구
기준_년,,,,,,,,,,
2021,12,1,내외동,48250,4825054000,85049,65678.396540,8783.474592,10587.128870,85049
2021,12,2,내외동,48250,4825054000,84243,65055.969610,8700.234571,10486.795810,84243
2021,12,3,내외동,48250,4825054000,85215,65806.588690,8800.618318,10607.793000,85215
2021,12,4,내외동,48250,4825054000,84983,65627.428580,8776.658412,10578.913010,84983
2021,12,5,내외동,48250,4825054000,84863,65534.759560,8764.265356,10563.975090,84863
...,...,...,...,...,...,...,...,...,...,...
2021,12,27,회현동,48250,4825052000,10865,5867.218854,1598.041760,3399.739386,10865
2021,12,28,회현동,48250,4825052000,10453,5644.734347,1537.444134,3270.821519,10453
2021,12,29,회현동,48250,4825052000,10744,5801.877531,1580.244884,3361.877585,10744
2021,12,30,회현동,48250,4825052000,10413,5623.133910,1531.560869,3258.305221,10413
2021,12,31,회현동,48250,4825052000,10957,5916.899861,1611.573269,3428.526871,10957

In [19]:
month_1 = result_list[3].drop([2021], axis = 0)
month_12.to_csv('유동인구데이터_22년1월.csv', encoding='cp949', index=False)
month_1

,기준_월,기준_일,행정동_명,시군구_코드,행정동_코드,서비스인구,주거인구,직장인구,방문인구,총 인구
기준_년,,,,,,,,,,
2022,1,1,내외동,48250,4825054000,84929,65585.727520,8771.081537,10572.190940,84929
2022,1,2,내외동,48250,4825054000,85641,66135.563710,8844.613664,10660.822620,85641
2022,1,3,내외동,48250,4825054000,86080,66474.577880,8889.951591,10715.470530,86080
2022,1,4,내외동,48250,4825054000,85626,66123.980080,8843.064532,10658.955380,85626
2022,1,5,내외동,48250,4825054000,85963,66384.225590,8877.868362,10700.906050,85963
...,...,...,...,...,...,...,...,...,...,...
2022,1,27,회현동,48250,4825052000,11381,6145.864499,1673.935874,3561.199627,11381
2022,1,28,회현동,48250,4825052000,10603,5725.735988,1559.506376,3317.757635,10603
2022,1,29,회현동,48250,4825052000,11563,6244.146490,1700.704728,3618.148782,11563
2022,1,30,회현동,48250,4825052000,11446,6180.965210,1683.496179,3581.538611,11446
2022,1,31,회현동,48250,4825052000,10904,5888.279281,1603.777943,3411.942776,10904

In [20]:
month_2 = result_list[4].drop([2021], axis = 0)
month_2.to_csv('유동인구데이터_22년2월.csv', encoding='cp949', index=False)
month_2

,기준_월,기준_일,행정동_명,시군구_코드,행정동_코드,서비스인구,주거인구,직장인구,방문인구,총 인구
기준_년,,,,,,,,,,
2022,2,1,내외동,48250,4825054000,80098,61855.027170,8272.157790,9970.815036,80098
2022,2,2,내외동,48250,4825054000,86361,66691.577840,8918.971995,10750.450170,86361
2022,2,3,내외동,48250,4825054000,86568,66851.431900,8940.350015,10776.218080,86568
2022,2,4,내외동,48250,4825054000,85819,66273.022760,8862.996696,10682.980540,85819
2022,2,5,내외동,48250,4825054000,86321,66660.688170,8914.840977,10745.470860,86321
...,...,...,...,...,...,...,...,...,...,...
2022,2,24,회현동,48250,4825052000,10526,5684.155146,1548.181092,3293.663762,10526
2022,2,25,회현동,48250,4825052000,10406,5619.353833,1530.531298,3256.114869,10406
2022,2,26,회현동,48250,4825052000,10771,5816.457826,1584.216088,3370.326086,10771
2022,2,27,회현동,48250,4825052000,12399,6695.595635,1823.664959,3879.739406,12399
2022,2,28,회현동,48250,4825052000,10320,5572.912893,1517.882279,3229.204828,10320

In [21]:
month_3 = result_list[5]
month_3.to_csv('유동인구데이터_22년3월.csv', encoding='cp949', index=False)
month_3

,기준_월,기준_일,행정동_명,시군구_코드,행정동_코드,서비스인구,주거인구,직장인구,방문인구,총 인구
기준_년,,,,,,,,,,
2022,3,1,내외동,48250,4825054000,85718,66195.026330,8852.565875,10670.407790,85718
2022,3,2,내외동,48250,4825054000,84848,65523.175930,8762.716224,10562.107850,84848
2022,3,3,내외동,48250,4825054000,84436,65205.012290,8720.166735,10510.820970,84436
2022,3,4,내외동,48250,4825054000,85977,66395.036970,8879.314219,10702.648810,85977
2022,3,5,내외동,48250,4825054000,86500,66798.919460,8933.327284,10767.753260,86500
...,...,...,...,...,...,...,...,...,...,...
2022,3,27,회현동,48250,4825052000,13005,7022.842264,1912.796418,4069.361317,13005
2022,3,28,회현동,48250,4825052000,10290,5556.712564,1513.469831,3219.817605,10290
2022,3,29,회현동,48250,4825052000,10227,5522.691875,1504.203689,3200.104436,10227
2022,3,30,회현동,48250,4825052000,10184,5499.471405,1497.879179,3186.649416,10184
2022,3,31,회현동,48250,4825052000,10149,5480.571022,1492.731323,3175.697655,10149