In [1]:
import datetime
import pandas as pd
import numpy as np

def split_weekend_weekday(start_date, end_date):
    weekend_data = []
    weekday_data = []

    date = start_date
    while date <= end_date:
        if date.weekday() < 5:  # 0은 월요일, 4는 금요일을 의미합니다.
            weekday_data.append(date.strftime("%d"))
        else:
            weekend_data.append(date.strftime("%d"))
        date += datetime.timedelta(days=1)

        # 다음달 1일로 이동
        if date.day == 1:
            date = date.replace(day=1, month=date.month + 1)

    return weekend_data, weekday_data

# 시작 날짜와 종료 날짜 설정
start_date = datetime.datetime(2021, 10, 1)
end_date = datetime.datetime(2021, 10, 31)

weekend, weekday = split_weekend_weekday(start_date, end_date)

print("주말 데이터:", weekend)
print("평일 데이터:", weekday)


#주말 데이터: ['2021-10-02', '2021-10-03', '2021-10-09', '2021-10-10', '2021-10-16', '2021-10-17', '2021-10-23', '2021-10-24', '2021-10-30', '2021-10-31']
#평일 데이터: ['2021-10-01', '2021-10-04', '2021-10-05', '2021-10-06', '2021-10-07', '2021-10-08', '2021-10-11', '2021-10-12', '2021-10-13', '2021-10-14', '2021-10-15', '2021-10-18', '2021-10-19', '2021-10-20', '2021-10-21', '2021-10-22', '2021-10-25', '2021-10-26', '2021-10-27', '2021-10-28', '2021-10-29']

주말 데이터: ['02', '03', '09', '10', '16', '17', '23', '24', '30', '31']
평일 데이터: ['01', '04', '05', '06', '07', '08', '11', '12', '13', '14', '15', '18', '19', '20', '21', '22', '25', '26', '27', '28', '29']

In [2]:
df = pd.read_csv('유동인구데이터_21년10월.csv', encoding='cp949', index_col=0)
df

,기준_일,행정동_명,시군구_코드,행정동_코드,서비스인구,주거인구,직장인구,방문인구,총 인구
기준_월,,,,,,,,,
10,1,내외동,48250,4825054000,83037,64124.645950,8575.684366,10336.669680,83037
10,2,내외동,48250,4825054000,82290,63547.781290,8498.537598,10243.681110,82290
10,3,내외동,48250,4825054000,80438,62117.589400,8307.271446,10013.139150,80438
10,4,내외동,48250,4825054000,81906,63251.240430,8458.879821,10195.879750,81906
10,5,내외동,48250,4825054000,82354,63597.204770,8505.147227,10251.648000,82354
...,...,...,...,...,...,...,...,...,...
10,27,회현동,48250,4825052000,10855,5861.818745,1596.570944,3396.610311,10855
10,28,회현동,48250,4825052000,9986,5392.549239,1468.757019,3124.693742,9986
10,29,회현동,48250,4825052000,10469,5653.374522,1539.797440,3275.828038,10469
10,30,회현동,48250,4825052000,10231,5524.851919,1504.792015,3201.356066,10231
10,31,회현동,48250,4825052000,10611,5730.056076,1560.683029,3320.260895,10611

In [5]:
#WE_result_list = []
#WD_result_list = []

#for WK in weekend:
#    WE_result = df[df['기준_일'].astype(str).str.contains(str(weekend), na=False)]
#    WE_result_list.append(WE_result)
    
#for WD in weekday:
#    WD_result = df[df['기준_일'].astype(str).str.contains(str(weekday), na=False)]
#    WD_result_list.append(WD_result)

In [9]:
WE_result = pd.DataFrame()
WD_result = pd.DataFrame()

for WK in weekend:
    WE_result = df[df['기준_일'].astype(str).str.contains(str(weekend), na=False)]
    
for WD in weekday:
    WD_result = df[df['기준_일'].astype(str).str.contains(str(weekday), na=False)]

In [10]:
month_10_WE = pd.DataFrame(WE_result)
month_10_WE.to_csv('유동인구데이터_21년10월주말.csv', encoding='cp949', index=False)
month_10_WE

,기준_일,행정동_명,시군구_코드,행정동_코드,서비스인구,주거인구,직장인구,방문인구,총 인구
기준_월,,,,,,,,,
10,1,내외동,48250,4825054000,83037,64124.645950,8575.684366,10336.669680,83037
10,2,내외동,48250,4825054000,82290,63547.781290,8498.537598,10243.681110,82290
10,3,내외동,48250,4825054000,80438,62117.589400,8307.271446,10013.139150,80438
10,4,내외동,48250,4825054000,81906,63251.240430,8458.879821,10195.879750,81906
10,6,내외동,48250,4825054000,82310,63563.226130,8500.603107,10246.170760,82310
...,...,...,...,...,...,...,...,...,...
10,27,회현동,48250,4825052000,10855,5861.818745,1596.570944,3396.610311,10855
10,28,회현동,48250,4825052000,9986,5392.549239,1468.757019,3124.693742,9986
10,29,회현동,48250,4825052000,10469,5653.374522,1539.797440,3275.828038,10469
10,30,회현동,48250,4825052000,10231,5524.851919,1504.792015,3201.356066,10231
10,31,회현동,48250,4825052000,10611,5730.056076,1560.683029,3320.260895,10611